
:root {
  --color-icon: #7F7F7F;
  --color-icon-hover: #4C4C4C;

  --color-background-main: white;
  --color-background-secondary: #E9ECEF;

  --color-border: #DEE2E6;
  --color-secondary: #666;

  --color-border-secondary: #CED4DA;

  --color-input-placeholder: #939ba2;

  --color-text-main: #212529;
  --color-text-secondary: #495057;
  --color-text-action: #007BFF;
  --color-text-action-hover: #0056B3;
  --color-text-main-light: white;

  --color-action: #007BFF;
  --color-action-hover: #0069D9;
}
