@media (prefers-color-scheme: dark) {
  :root {
    --color-icon: #80807F;
    --color-icon-hover: #AAA8A7;

    --color-background-main: #181A1B;
    --color-background-secondary: #232627;

    --color-border: #383D3F;
    --color-secondary: #A8A095;

    --color-border-secondary: #3C4144;

    --color-input-placeholder: #939ba2;

    --color-text-main: #E8E6E3;
    --color-text-secondary: #E8E6E3;
    --color-text-action: #33A2FF;
    --color-text-action-hover: #61B7FF;
    --color-text-main-light: #E8E6E3;

    --color-action: #0056b3;
    --color-action-hover: #004DAA;
  }
}
