:root {
  --width-full-screen-form: 22.5rem;

  --gap-tiny: 0.375rem;
  --gap-small: 0.75rem;
  --gap-smaller: 1rem;
  --gap-usual: 1.25rem;
  --gap-bigger: 1.5rem;

  --font-size-h3: 1rem;

  --border-radius-secondary: 0.25rem;

  --text-usual: 1rem;

  --line-height-usual: 1.5;

  --border-small: 1px;
  --border-medium: 3px;

  --height-header: 3.5rem;
}
